.header{
    position: relative;
}
.search-input{
    width: 50vw;
}
.header-cart-icon{
    position: relative;
    margin: 0rem 1rem;
    background: rgba(67, 64, 64, 0.521);
}
.header-user-icon{
    margin: 0rem 1rem;
    background: rgba(67, 64, 64, 0.521);
}
.cart-item_count{
    position: absolute;
    top: -.5rem; right: -.5rem;
    background: white;
    padding: 0rem .1rem;
    color: black;
    border-radius: 30% 30%;
}
@media (max-width: 576px){
    .header{
        height: 8rem;
        align-items: flex-start;
    }
    .search-container{
        position: absolute;
        top: 5rem;
        width: 100%;
    }
    .search-input{
        width: 85vw;
    }
}