.search-input{
    width: 50vw;
}
.header-cart-icon{
    margin: 0rem 1rem;
    background: rgba(67, 64, 64, 0.521);
}
.header-user-icon{
    margin: 0rem 1rem;
    background: rgba(67, 64, 64, 0.521);
}

