body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  min-width: 576px;
  max-width: 1800px;
  margin: auto;
}
section{
  margin: 1rem 0rem;
}
.dropdown-toggle::after {
  display: none !important; 
}
.dropdown-menu{
  padding: 0;
}
.error{
  color: white;
  background: rgb(232, 85, 85);
  padding: 2px;
  text-align: center;
  text-transform: capitalize;
}
.success{
  color: white;
  background: rgb(36, 149, 85);
  padding: 2px;
  text-align: center;
  text-transform: capitalize;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  background: rgba(237, 236, 236, 0.788);
  position: fixed;
  top: 0rem; left: 0rem; right: 0;
  z-index: 99;
}