.image img{
    width: 4rem;
    height: 5rem;
}
.category{
    text-transform: capitalize;
}
.title{
    text-transform: capitalize;
}
.actions{
    display: flex;
    justify-content: space-between;
    max-width: 7rem;
}
.actions button:nth-child(1){
    display: flex;
    align-items: center;
    padding: .3rem;
    cursor: pointer;
}
.actions button:nth-child(2){
    display: flex;
    align-items: center;
    padding: .3rem;
    cursor: pointer;
}
.actions button:nth-child(3){
    display: flex;
    align-items: center;
    padding: .3rem;
    cursor: pointer;
}